Repository JoeDodgson/Fitness-buddy, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, template views, config, db, UI/UX, automation, npm packages

Added prettier
  .github/workflows/prettier.yml
  .vscode/settings.json
Labels: automation

Prettified Code!
  config/passport.js
  models/exercises.js
  models/index.js
  models/user.js
  routes/api-routes.js
  routes/html-routes.js
Labels: config

Updated settings to match linting
  .github/workflows/prettier.yml
  .vscode/settings.json
Labels: automation

removed typo
  .github/workflows/prettier.yml
Labels: automation

test 2
  .github/workflows/prettier.yml
Labels: automation

Moved prettier config to package.json
  .github/workflows/prettier.yml
  .vscode/settings.json
  package.json
Labels: automation

Prettified Code!
  config/passport.js
  models/exercises.js
  models/index.js
  models/user.js
  routes/api-routes.js
  routes/html-routes.js
Labels: config

Added .prettierignore
  .prettierignore
Labels: none

refactor, added try/catch
  public/js/login.js
  public/js/members.js
  public/js/signup.js
  routes/api-routes.js
  server.js
Labels: none

Created very basic pages for testing auth
  public/login.html
  public/members.html
  public/signup.html
  public/stylesheets/style.css
Labels: none

Prettified Code!
  models/user.js
  routes/api-routes.js
Labels: none

.github/labeler.yml:

# Config file for labeler to auto label PRs
documentation:
  - README.md
  - docs/*

template views:
  - views/*
  - views/**/*

config:
  - config/*
  - config/**/*

db:
  - db/*
  - db/**/*

UI/UX:
  - src/**/*.css
  - views/**/*

automation:
  - .github/**/*.yml

npm packages:
  - src/package.json
  - src/package-lock.json
