Repository JoeDodgson/Fitness-buddy, pull requests merged in 2020-07, with the labels that each got.

#10 Jacob/patch/updating project info
  package.json
Labels: config, documentation, npm packages

#14 Jacob/patch/linting rules&major refactor
  .eslintrc.json
  .vscode/settings.json
  config/middleware/isAuthenticated.js
  config/passport.js
  models/.eslintignore
  models/index.js
  models/user.js
  package-lock.json
  package.json
  public/js/login.js
  public/js/members.js
  public/js/signup.js
  routes/api-routes.js
  routes/html-routes.js
  server.js
Labels: automation, config, npm packages, refactor

#15 Jacob/patch/applying env variables
  .vscode/settings.json
  models/index.js
  package-lock.json
  package.json
  server.js
Labels: npm packages, patch

#13 Drg/feature/sequelize models
  db/schema.sql
  db/seeds.sql
  models/exercises.js
  models/user.js
Labels: db

#17 Jacob/merge/merging master to dev
  .github/labeler.yml
  package.json
Labels: automation

#16 Development
  .eslintrc.json
  .github/labeler.yml
  .vscode/settings.json
  config/middleware/isAuthenticated.js
  config/passport.js
  db/schema.sql
  db/seeds.sql
  models/.eslintignore
  models/exercises.js
  models/index.js
  models/user.js
  package-lock.json
  package.json
  public/js/login.js
  public/js/members.js
  public/js/signup.js
  routes/api-routes.js
  routes/html-routes.js
  server.js
Labels: automation, config, db

#18 Added jawsdb connection details
  .github/labeler.yml
  models/index.js
Labels: automation, config, models

#21 deploy
  .github/labeler.yml
  .github/workflows/prettier.yml
  .prettierignore
  .vscode/settings.json
  models/exercises.js
  models/index.js
  package.json
Labels: automation, config, models

#26 quick rule update
  .github/labeler.yml
  package-lock.json
  package.json
Labels: automation, npm packages

#25 Jacob/feat/testing setup for heroku
  .github/labeler.yml
  public/js/login.js
  public/js/members.js
  public/js/signup.js
  public/login.html
  public/members.html
  public/signup.html
  public/stylesheets/style.css
  routes/api-routes.js
  server.js
Labels: UI/UX, automation, config, models, npm packages, refactor, routes

#29 Jacob/merge/dev to master
  .github/labeler.yml
Labels: automation

#30 Jacob/bugfix/heroku deployment failure
  models/index.js
  package-lock.json
  package.json
  server.js
Labels: config, db, models

#31 Jacob/patch/html routes not returned
  models/user.js
  routes/html-routes.js
Labels: config, db, models, patch, routes

#32 Dev merge
  models/index.js
  models/user.js
  package-lock.json
  package.json
  routes/html-routes.js
  server.js
Labels: config, db, models, routes

#37 Logo tweak
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
Labels: UI/UX, public

#38 Moved session secret to env variables
  server.js
Labels: config, db, patch

#34 Joe/feat/pug setup
  package-lock.json
  package.json
  public/js/exerciseDetails.js
  public/js/faveExercise.js
  public/js/login.js
  public/js/results.js
  public/js/search.js
  public/js/signup.js
  public/to-be-deleted/exercises-details.html
  public/to-be-deleted/favourite-exe.html
  public/to-be-deleted/login.html
  public/to-be-deleted/members.html
  public/to-be-deleted/members.js
  public/to-be-deleted/members.pug
  public/to-be-deleted/results.html
  public/to-be-deleted/search.html
  public/to-be-deleted/signup.html
  routes/api-routes.js
  routes/html-routes.js
  server.js
  views/exerciseDetails.pug
  views/faveExercises.pug
  views/footer.pug
  views/head.pug
  views/login.pug
  views/navbar.pug
  views/results.pug
  views/search.pug
  views/signup.pug
Labels: UI/UX, public, routes, template views

#35 Jacob/feat/api routes
  routes/html-routes.js
  routes/wger-api-routes.js
Labels: routes

#43 Jacob/feat/search function
  routes/html-routes.js
  routes/wger-api-routes.js
Labels: routes

#42 Joe/feat/navigation buttons
  .gitignore
  package-lock.json
  package.json
  public/js/exerciseDetails.js
  public/js/faveExercise.js
  public/js/results.js
  public/js/search.js
  public/stylesheets/css/style.css
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
  routes/html-routes.js
  server.js
  views/exerciseDetails.pug
  views/faveExercises.pug
  views/footer.pug
  views/login.pug
  views/privacyPolicy.pug
  views/results.pug
  views/search.pug
  views/signup.pug
Labels: UI/UX, public, routes, template views

#45 Jacob/feat/returning wger data
  public/js/search.js
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
  routes/html-routes.js
  views/search.pug
Labels: UI/UX, public, routes, template views

#46 Fixed welcome message to only display on first login
  public/js/login.js
  routes/api-routes.js
  routes/html-routes.js
  views/faveExercises.pug
Labels: public, routes, template views

#47 included favicon in head.pug
  public/img/android-chrome-192x192.png
  public/img/android-chrome-512x512.png
  public/img/apple-touch-icon.png
  public/img/browserconfig.xml
  public/img/favicon-16x16.png
  public/img/favicon-32x32.png
  public/img/favicon.ico
  public/img/mstile-150x150.png
  public/img/safari-pinned-tab.svg
  public/img/site.webmanifest
  views/head.pug
Labels: public, template views

#44 Drg/patch/sequelize model
  db/schema.sql
  db/seeds.sql
  models/exercise_user.js
  models/exercises.js
  models/index.js
  models/user.js
Labels: config, db, models

#48 Joe/patch/search page favourite button
  public/stylesheets/css/style.css
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
  views/search.pug
Labels: UI/UX, public, template views

#50 Drg/documentation/read me
  README.md
Labels: documentation

#49 Joe/feat/privacy policy agreement check
  public/js/login.js
  public/js/signup.js
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
  views/login.pug
  views/signup.pug
Labels: UI/UX, public, template views

#51 started exercise info html-route
  routes/html-routes.js
  views/exerciseDetails.pug
Labels: routes, template views

#53 Drg/feat/add remove favourites
  .vscode/settings.json
  models/faveExercises.js
  public/js/exerciseDetails.js
  public/js/results.js
  routes/api-routes.js
  routes/html-routes.js
  views/exerciseDetails.pug
  views/results.pug
Labels: config, db, models, public, routes, template views

#54 Privacy policy opens in new tab
  views/login.pug
  views/signup.pug
Labels: template views

#55 Dev to master
  .gitignore
  .vscode/settings.json
  README.md
  config/less-watch-compiler.config.json
  db/schema.sql
  db/seeds.sql
  models/exercises.js
  models/faveExercises.js
  models/index.js
  models/user.js
  package-lock.json
  package.json
  public/img/android-chrome-192x192.png
  public/img/android-chrome-512x512.png
  public/img/apple-touch-icon.png
  public/img/browserconfig.xml
  public/img/dumbbell.png
  public/img/favicon-16x16.png
  public/img/favicon-32x32.png
  public/img/favicon.ico
  public/img/mstile-150x150.png
  public/img/safari-pinned-tab.svg
  public/img/site.webmanifest
  public/img/texture.svg
  public/img/texture_fitness_buddy.jpg
  public/js/exerciseDetails.js
  public/js/login.js
  public/js/results.js
  public/js/signup.js
  public/login.html
  public/members.html
  public/signup.html
  public/stylesheets/css/reset.css
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
  public/stylesheets/style.css
  public/to-be-deleted/exercises-details.html
  public/to-be-deleted/favourite-exe.html
  public/to-be-deleted/login.html
  public/to-be-deleted/members.html
  public/to-be-deleted/members.js
  public/to-be-deleted/members.pug
  public/to-be-deleted/results.html
  public/to-be-deleted/search.html
  public/to-be-deleted/signup.html
  routes/api-routes.js
  routes/html-routes.js
  routes/wger-api-routes.js
  server.js
  views/exerciseDetails.pug
  views/faveExercises.pug
  views/footer.pug
  views/head.pug
  views/login.pug
  views/navbar.pug
  views/privacyPolicy.pug
  views/results.pug
  views/search.pug
  views/signup.pug
Labels: UI/UX, config, db, documentation, models, public

#56 privacy toast colour
  public/stylesheets/css/style.min.css
  public/stylesheets/less/style.less
Labels: UI/UX, public

#59 wger error
  routes/html-routes.js
  routes/wger-api-routes.js
Labels: routes
